<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Hello Python!{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
<main class="container">
    <header>
        <h1 class="text-center display-4">
            <a href="{{ url_for('login') }}" class="text-success"><strong>Hello Python</strong></a>
        </h1>
    </header>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    {% block content %}{% endblock %}


    <footer class="text-center">
        {% block footer %}
        <small>Copyright &#169; 2020-2015 <a>王支勇</a>
        </small>
        {% endblock %}
    </footer>
</main>
</body>
</html>
